
@{
    ViewBag.Title = "example";
}

<h2>example</h2>

<div class="row">
    <div class="col-8">Content 1</div>
    <div class="col-4">Content 2</div>
</div>

<div class="row">
    <div class="col-12 col-sm-6 col-md-8">Content 1</div>
    <div class="col-6 col-md-4">Content 2</div>
</div>

